.contact {
  padding: 80px 0;
  width: 80%;
  margin: 80px auto;
}

/* title */
.contact-header {
  display: flex;
  justify-content: left;
}
.contact-title {
  width: fit-content;
  text-align: center;
  font-weight: 700;
}
.contact-main-title {
  font-size: 64px;
  margin: 0;
}
.contact-subtitle {
  font-size: 16px;
  margin-top: -24px;
}

/* container */
.contact-container {
  margin-top: 80px;
  display: flex;
  gap: 40px;
  font-size: 20px;
}
.contact-left {
  width: 50%;
  letter-spacing: 1px;
}

.contact-left span {
  color: #ff0000;
}

.contact-image {
  display: flex;
  gap: 40px;
  margin-top: 200px;
}

.contact-image img {
  transform: scale(8, 8);
}

.contact-right {
  width: 50%;
}

/* icon */
.sns {
  color: #4d4d4d;
  transition-duration: 300ms;
}
.twitter:hover {
  color: #3c71fc;
}
.instagram:hover {
  color: #fe21fe;
}
.github:hover {
  color: #c3c3c3;
}
