/* contact component */
.contact {
  /* background: azure; */
  padding-top: 160px;
  width: 80%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  /* gap: 40px; */
}

.contact-image {
  /* background-color: aquamarine; */
  width: 50%;
  text-align: center;
}

.contact-image img {
  transform: scale(7, 7);
  margin-bottom: -150px;
}

.contact-title {
  font-size: 72px;
  font-weight: 700;
  margin-top: -200px;
}

.contact-contents {
  width: 50%;
  /* background-color: aliceblue; */
  text-align: right;
}

.description {
  font-size: 16px;
}

.btn {
  font-family: "Space Mono", Arial, serif;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  padding: 16px 64px;
  text-decoration: none;
}

#contact .btn {
  height: 54px;
  background-color: #fff;
  color: #30bfba;
}
/* icon */
.social-icons {
  padding: 0;
}

.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.social-icons li a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.icon-link {
  position: relative;
}
