/* skills component */
.skills {
  padding: 80px 0;
  width: 80%;
  margin: 80px auto;
  height: fit-content;
}

.skills-header {
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.skills-title {
  text-align: center;
  width: fit-content;
}

.skills-main-title {
  margin: 0;
}
.skills-subtitle {
  font-size: 16px;
  margin-top: -24px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.circle-label {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.circle {
  transform: scale(0.6, 0.6);
}
