/* skills component */
.skills {
  padding: 80px 0;
  width: 80%;
  margin: 80px auto;
  height: fit-content;
  /* background-color: aliceblue; */
}

.skills-header {
  margin-bottom: 32px;
  font-size: 72px;
  font-weight: 700;
  display: flex;
  justify-content: start;
}

.skills-title {
  text-align: center;
  width: fit-content;
}

.skills-main-title {
  margin: 0;
}
.skills-subtitle {
  font-size: 16px;
  margin-top: -24px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.skills-left {
  width: 50%;
  /* background-color: antiquewhite; */
}
.skills-right {
  width: 50%;
}

/* Loading */
.loading {
  width: 40px;
  height: 40px;
  margin: auto;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
