/* skills component */
#skills {
  padding: 128px 0;
  clear: both;
}

.heading {
  margin-bottom: 32px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin: 0 72px;
}

.skill-item {
  margin: 16px 72px;
}

/* Loading */
.loading {
  width: 40px;
  height: 40px;
  margin: auto;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
