/* top component */
.main-cover {
  width: 100%;
  height: 780px;
}
.cover {
  opacity: 0.8;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 400px;
  width: 100%;
}

.bg-image {
  opacity: 0.8;
  margin-top: 100px;
  z-index: 0;
  width: 416px;
  height: 612px;
  transform: scale(0.7, 0.7);
}

.container {
  width: 80%;
  margin: auto;
  z-index: 10;
  margin-top: -518px;
}

.display-table {
  width: 100%;
  height: 100vh;
  margin-left: 48px;
}

.display-table-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

/* left */
.left-container {
  width: 100%;
  padding: 0;
  margin-right: 16px;
  margin-top: 80px;
}

.profile-name {
  position: relative;
  font-size: 64px;
  font-weight: 800;
}
.profile-job {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  text-align: right;
  margin-right: 12px;
}

/* right` */
.profile-thumb {
  position: relative;
  height: 480px;
  width: 480px;
  margin-left: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}
