/* top component */
.main-cover {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
}

.main-cover .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.container {
  width: 80%;
  margin: auto;
}

.display-table {
  width: 100%;
  height: 100vh;
}

.display-table-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 160px 0;
  text-align: center;
  vertical-align: middle;
}

/* left */
.left-container {
  width: 100%;
  padding: 0;
  margin-right: 16px;
  margin-top: 80px;
}

.profile-name {
  position: relative;
  font-size: 64px;
  font-weight: 800;
}
.profile-job {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  text-align: right;
  margin-right: 12px;
}

/* right` */
.profile-thumb {
  position: relative;
  height: 480px;
  width: 480px;
  margin-left: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 1;
}
